#!/bin/bash

/usr/bin/compton &
/usr/bin/feh --bg-scale ~/dotfiles/misc/wallpaper_leaves.png &
/usr/bin/ulauncher &
/usr/bin/diodon &
/snap/bin/emote &
/usr/bin/unclutter &
/usr/bin/nm-applet &
/usr/libexec/gsd-xsettings &

# Set screen blanking to 60 minutes
xset s 3600

# Set DPMS standby, suspend, and off to 60 minutes
xset dpms 3600 3600 3600
